Implementar pruebas unitarias a los Servicios Backend + Estado Global + Seguridad

Tests CRÍTICOS a implementar:
FirebaseNotificationService.test.js
account.api.test.js, oracle.api.test.js
userSlice.test.js, votingSlice.test.js
useFirebaseUserSetup.test.js, useNetworkRequest.test.js
Security.test.js, ChangePinVerify.test.js
networkUtils.test.js, AsyncStorage.utils.test.js